@charset "UTF-8";
body {
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif; }

.loginPage, .signUpPage {
  background-color: #333; }

.facebookButton {
  background-color: #3b5998;
  border: none;
  padding: 7px 40px 7px 10px;
  width: 80%; }
  .facebookButton i {
    padding: 0 20px; }

button {
  border: none;
  padding: 7px 0; }

.fa {
  font-size: 2em; }

.fa-plus {
  color: seagreen; }

.fa-minus {
  color: red; }

.loginForm {
  width: 50%;
  border-right: 1px solid #666; }

.content {
  display: flex;
  margin: 20% 0 0 10%; }

input {
  padding: 7px;
  width: 80%;
  margin-top: 20px;
  color: #000; }

.row {
  display: flex; }

.leftHalf {
  flex: 1; }

.rightHalf {
  flex: 1; }
  .rightHalf button {
    margin: 20% 0 0 20%; }

.formFooter {
  margin: 60px 0 0 0; }
  .formFooter a {
    margin-left: 30%;
    margin-top: 10px; }
  .formFooter .loginBtn, .formFooter .signUpBtn {
    background-color: #FE520C;
    padding: 7px 50px;
    border: none; }
  .formFooter .sign-upLink {
    margin-left: 35%;
    background-color: #333; }
    .formFooter .sign-upLink:hover {
      color: #3b5998; }

.formContainer {
  width: 40%;
  margin: -15% auto; }
  .formContainer h1 {
    margin-left: 18%;
    margin-bottom: 30px; }

.signUpBtn {
  margin-left: 44%; }

header, .sidebar {
  color: #fff; }

.mainContent {
  overflow: hidden;
  width: 100%; }
  .mainContent h2 {
    margin-left: 20px; }

.sidebar {
  float: left;
  width: 200px;
  padding-left: 10px;
  min-height: 900px; }
  .sidebar h3 {
    text-decoration: underline; }

header {
  padding-bottom: 15px;
  border-bottom: 1px solid #fff; }
  header h1 {
    margin-bottom: 0; }
  header .logo {
    padding-left: 10px;
    padding-right: 50px;
    border-right: 1px solid #AAAAAA; }
  header .search {
    width: 20%;
    font-size: 15px;
    color: #000;
    border: none;
    border-radius: 20px;
    background-color: white;
    margin-left: 50px; }
  header .userName {
    margin-right: 50px; }

.mainbar {
  margin-left: 225px;
  min-height: 900px;
  background-color: #fff;
  color: #000;
  display: flex;
  padding: 20px; }
  .mainbar .smProfilePic img {
    flex: 1;
    width: 300px; }
  .mainbar .profileForm {
    flex: 3; }
    .mainbar .profileForm .form-group {
      margin-left: 50px;
      width: 200px;
      overflow: hidden; }
      .mainbar .profileForm .form-group button {
        padding: 7px 20px; }
      .mainbar .profileForm .form-group input {
        margin-top: 0;
        width: 100%; }

fieldset legend {
  display: inline;
  margin-bottom: 0px; }
  fieldset legend h3 {
    display: inline;
    flex: 1; }

.addList {
  padding: 5px; }
  .addList .listInput {
    margin-top: 0; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start; }
  .flex-container .flex-item {
    position: relative;
    width: 15%;
    margin: 30px 20px;
    justify-content: space-between;
    flex: 0 1 auto;
    text-align: left; }
    .flex-container .flex-item:hover img {
      opacity: .25;
      box-shadow: 0 0 5px 0px #000; }
    .flex-container .flex-item:hover figcaption {
      display: block;
      padding: 5px 20px; }
    .flex-container .flex-item img {
      width: 100%;
      z-index: 100;
      box-shadow: 0 5px 20px #000; }
    .flex-container .flex-item figcaption {
      padding: 10px;
      position: absolute;
      top: 0;
      z-index: 2;
      display: none;
      height: 100%; }
      .flex-container .flex-item figcaption h4 {
        text-decoration: underline; }
      .flex-container .flex-item figcaption h6 {
        text-align: left;
        margin: 0; }
      .flex-container .flex-item figcaption p {
        margin-top: 10px;
        text-align: left; }
      .flex-container .flex-item figcaption .userRating {
        position: absolute;
        bottom: 30px; }

.ratingBtn {
  background-color: #00b3ee;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px; }
  .ratingBtn:hover {
    background-color: #0066bb; }

.remove {
  color: red; }

.rating {
  float: left; }

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 175%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }

.rating:not(:checked) > label:before {
  content: '★ '; }

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px; }
