// variables
// colors
$facebookBlue: #3b5998;
$orange: #FE520C;
$darkBase: #333;

body {
  background-color: $darkBase;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

// Defaults
.loginPage, .signUpPage {
  background-color: $darkBase;
}

.facebookButton {
  background-color: $facebookBlue;
  border: none;
  padding: 7px 40px 7px 10px;
  width: 80%;

  i {
    padding: 0 20px;
  }
}

button {
  border: none;
  padding: 7px 0;
}

.fa{
  font-size: 2em;
}

.fa-plus {
  color: seagreen;
}

.fa-minus {
  color: red;
}


// login page

.loginForm {
  width: 50%;
  border-right: 1px solid #666;

}

.content {
  display: flex;
  margin: 20% 0 0 10%;
}

input {
  padding: 7px;
  width: 80%;
  margin-top: 20px;
  color: #000;
}
.row {
  display: flex;
}

.leftHalf {
  flex: 1;
}

.rightHalf {
  flex: 1;
  button {
    margin: 20% 0 0 20%;
  }

  
}

.listHeading {
  text-decoration: underline;
}

.formFooter {
  margin: 60px 0 0 0;

  a {
    margin-left: 30%;
    margin-top: 10px;
  }

  .loginBtn, .signUpBtn {
    background-color: $orange;
    padding: 7px 50px;
    border: none;
  }

  .sign-upLink {
    margin-left: 35%;
    background-color: $darkBase;
    &:hover {
      color: $facebookBlue;
    }
  }
}

// Sign up page

.formContainer {
  width: 40%;
  margin: -15% auto;

  h1 {
    margin-left: 18%;
    margin-bottom: 30px;
  }
}

.signUpBtn {
  margin-left: 44%;
}

//shell


header, .sidebar {
  color: #fff;
}

.mainContent {
  overflow: hidden;
  width: 100%;
  h2 {
    margin-left: 20px;
  }
}

h3 {
  a {
    color: #fff;
  }
}


.sidebar {
  float: left;
  width: 200px;
  padding-left: 10px;
  min-height: 900px;

  h3 {
    text-decoration: underline;
  }

}



header {
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  h1 {
    margin-bottom: 0;
  }
  .logo {
    padding-left: 10px;
    padding-right: 50px;
    border-right: 1px solid #AAAAAA;
  }
  .search {
    width: 20%;
    font-size: 15px;
    color: #000;
    border: none;
    border-radius: 20px;
    background-color: white;
    margin-left: 50px;
  }

  .userName {
    margin-right: 50px;
  }
}

.mainbar {
  margin-left: 225px;
  min-height: 900px;
  background-color: #fff;
  color: #000;
  display: flex;
  padding: 20px;

  .smProfilePic {
    img {
      flex: 1;
      width: 300px;

    }
  }

  .profileForm {
    flex: 3;
    .form-group{
      margin-left: 50px;
      button{
        padding: 7px 20px;
      }
      width: 200px;
      overflow:hidden;

      input {
        margin-top: 0;
        width: 100%;
      }
    }

  }
}

///////////////////////////

fieldset {
  margin: 10px;
  
  legend {
    display: inline;
    margin-bottom: 0px;

    h3 {
      display: inline;
      flex: 1;
    }
    
  }
  
}

.addList {
  padding: 5px;
  .listInput {
    margin-top: 0;

  }
}

.recent-activity {
  th {
    font-weight: bold;
  }
  tr {
    height: 46px;
  }
}

///////////////////////////

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;

  .flex-item {
    position: relative;
    width: 15%;
    margin: 30px 20px;
    justify-content: space-between;
    flex: 0 1 auto;
    text-align: left;
    
    &:hover {
      img {
        opacity: .25;
        box-shadow: 0 0 5px 0px #000;
      }

      figcaption {
        display: block;
        padding: 5px 20px;
      }
    }

    img {
      width: 100%;
      z-index: 100;
      box-shadow: 0 5px 20px #000;
    }

    figcaption {
      padding: 10px;
      position: absolute;
      top: 0;
      z-index: 2;
      display: none;
      height: 100%;
      
      h4 {
        text-decoration: underline;
      }
      
      h6 {
        text-align: left;
        margin: 0;
      }

      p {
        margin-top: 10px;
        text-align: left;
      }

      .userRating {
        position: absolute;
        bottom: 30px;
      }
  
    }
  }
}

.ratingBtn {
  background-color: #00b3ee;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;

  
  &:hover {
    background-color: #0066bb;
  }
  
}

.remove {
  color: red;
}

//////////////////////////////////////////
.rating {
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 155%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}






//////////////////////
// Recent Section
//////////////////////

.entry {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 20px #000;
  margin-top: 40px;
}

.media-object {
  display: flex;
}

.mo-image {
  flex: 1;
  
  img {
    width: 150px;
  }
}
.mo-content{
  padding: 15px;
  flex: 6;
  
  h2, h3 {
    display: inline;
  }
  
  h2 {
    margin: 0;
  }
}



.lists {
  flex: 2;
  position: absolute;
  top: 5px;
  right: 25px;
}

.mo-rating {
  overflow: hidden;
  width: 100px;
  .rating:not(:checked) > label {
    width: 1em;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
  }
}