// variables
  // colors
$facebookBlue: #3b5998;
$orange: #FE520C;
$darkBase: #333;

body{
  background-color: $darkBase;
  color: #fff;
  font-family: 'Lato', sans-serif;
}


// Defaults
.facebookButton {
  background-color: $facebookBlue;
  border: none;
  padding: 7px 40px 7px 10px;
  width: 80%;

  i {
    padding: 0 20px;
  }
}

button {
  border: none;
  padding: 7px 0;
}

// login page

.loginForm {
  width: 50%;
  border-right: 1px solid #666;
  
}

.content{
  display: flex;
  margin: 20% 0 0 10%;
}

input {
  padding: 7px;
  width: 80%;
  margin-top: 20px;
  color: #000;
}

.leftHalf{
  flex:1;
}

.rightHalf {
  flex: 1;
  button{
    margin: 20% 0 0 20%;
  }

}



.formFooter{
  margin: 60px 0 0 0;

  a {
    margin-left: 30%;
    margin-top: 10px;
  }

  .loginBtn, .signUpBtn {
    background-color: $orange;
    padding: 7px 50px;
    border: none;
  }

  .sign-upLink{
    margin-left: 35%;
    background-color: $darkBase;
    &:hover{
      color: $facebookBlue;
    }
  }
}

// Sign up page


.formContainer{
  width: 40%;
  margin: -15% auto;
  
  h1 {
    margin-left: 18%;
    margin-bottom: 30px;
  }
}

.signUpBtn {
  margin-left: 44%;
}