
<div class="container-fluid loginPage" ng-controller="LoginCtrl as ctrl">

    <h1>GoodViews</h1>

    <div class="content">

        <form name="loginForm" class="form-group loginForm"
                ng-submit="ctrl.login(loginForm)">
            <span style="color: red;" ng-show="ctrl.incorrect">
                    Username or password are incorrect. Please try again</span>
            <input type="text" placeholder="UserName" id="userName" name="userName"
                   ng-model="ctrl.user.userName" />
            <br/>
            <input type="password" placeholder="password" name="password"
                   ng-model="ctrl.user.password" />
            <span></span>
            <div class="formFooter ">
                <button type="submit" class="pull-left  loginBtn" ng-disabled="!loginForm.$dirty">
                    Login
                </button>
                <button type="button" class="sign-upLink" ng-click="ctrl.goToSignUp()">
                    Sign-up</button>
            </div>
        </form>

        <div class="rightHalf">
            <button  class="facebookButton">
                <i class="fa fa-facebook"></i>
                Login in with Facebook
            </button>
        </div>
    </div>
</div>
