<div ng-controller="HomeCtrl as ctrl">
    <header>
        <div class="logo">
            <a href="">
                <h1 class="pull-left">GoodViews</h1>
            </a>
        </div>
        <nav>
            <input ng-model="ctrl.searchInput" type="search" class="search" placeholder="Search"/>
            <button ng-click="ctrl.search(ctrl.searchInput)">search</button>
            <a ui-sref="profile"><h3 class="pull-right userName">{{ctrl.user.user_name}} </h3></a>

        </nav>
    </header>
    <div class="mainContent">
        <div class="sidebar">
            <div >
                <a ui-sref="search" style="color: #fff;"><h3>Browse</h3></a>
            </div>

            <div>
                <a ng-click="ctrl.goToSearch('movie')">Movies</a>
            </div>
            <div>
                <a ng-click="ctrl.goToSearch('tv')">TV</a>
            </div>
            <div>
                <a ng-click="ctrl.goToSearch('theaters')">In Theaters</a>
            </div>
            <div>
                <a ng-click="ctrl.goToSearch('upcoming')">Upcoming </a>
            </div>

            <div>
                <h3>Lists</h3>


                <div ng-repeat="list in ctrl.listCollection">
                    <a href=""ng-click="ctrl.goToList(list)">{{list.list_name}}</a>
                </div>
            </div>
        </div>
        <section class="mainbar">

            <div ui-view="pageView" style="width: 100%;"></div>

        </section>
    </div>
</div>